<ion-view view-title="Help">

  <ion-content>

    <div class="card">

      <div class="item item-divider">
        Information about busses
      </div>
      <div class="item-thumbnail">
        <p>
          The bus which comes at minute
          <span class="blueSquare">
            5
          </span> is equiped with support for disabled persons.
        </p>
        <p>
          The bus which comes at minute
          <span class="greySquare">
            7
          </span> goes to other station (the station is preceded by the * sign).
        </p>
      </div>
    </div>
  </ion-content>

</ion-view>
