<ion-view view-title="Busses">
  <!--  <div id="search-bar">
     <div class="item item-input-inset">
       <label class="item-input-wrapper" id="search-input">
         <i class="icon ion-search placeholder-icon"></i>
         <input type="text" placeholder="Cautati o statie" ng-model="searchQuery" ng-change="search()">
       </label>
     </div>
   </div>
-->
  <ion-nav-buttons side="secondary">
    <button class="button button-icon icon ion-ios-search-strong" ng-click="showFilterBar()">
    </button>
  </ion-nav-buttons>
  <ion-content overflow-scroll="true">
    <div id="map" data-tap-disabled="true" style="display:none"></div>

    <ion-list>
      <ion-item ng-repeat="ruta in rute" ng-click="gotoRuta('{{ruta}}')">
        {{ruta}}
      </ion-item>
      <!--  <div ng-repeat="ruta in closestRoutes">
        <div class="card">
          <div class="item item-divider">
            Statia: {{ruta.StatieCurenta}}
          </div>
          <ion-item ng-repeat="rutaC in ruta.Linii" ng-href="#/app/viewStatieForRuta/{{rutaC.NrLinie}}/{{rutaC.Ruta}}/{{ruta.StatieCurenta.trim()}}/luni-vineri" class="item-thumbnail">
            {{rutaC.NrLinie}} {{rutaC.Ruta}}
          </ion-item>
        </div>
      </div>
    -->
    </ion-list>

  </ion-content>
</ion-view>
