<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Search route</h1>
    <div class="buttons">
      <button class="button" ng-click="closeTraseu()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form id="traseuForm" name="traseuForm" ng-submit="cautaTraseu()">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="Starting station" ng-model="traseu.statieStart">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="traseu.statieDest" placeholder="Destination station">
        </label>
        <label class="item">
          <button class="button button-block button-positive" type="submit">Search route</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>
